<div>
    <div class="app-categories-listings">
        <p (click)="resetCategories()">All products</p>
    </div>
    <div *ngFor="let c of categories" class="app-categories-listings">
        <p (click)="choseCategory(c)">{{c.name}}</p> 
    </div>
</div>


<!--<mat-accordion>
    <mat-expansion-panel *ngFor="let c of categories"  style="background-color: grey">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{c.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{c.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{c.name + " 1"}}</p>
      <p>{{c.name + " 2"}}</p>
      <p>{{c.name + " 3"}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
      <p>me too</p>
    </mat-expansion-panel>
  </mat-accordion>-->
  