<div class="app-filter-container" (keyup.enter)="doFilter()">
    <div class="app-filter-input">
        <div class="app-filter-input-price">
            <p>Bitte wählen Sie den Preis</p>
            <mat-slider min=0 max=3000>
                <input [(ngModel)]="priceFrom" matSliderStartThumb>
                <input [(ngModel)]="priceTo" matSliderEndThumb>
            </mat-slider>
            <p>Min: {{priceFrom}}</p>
            <p>Max: {{priceTo}}</p>
        </div>
        


        <!--<div class="app-filter-input-price">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Mindestpreis</span>
                </div>
                <input [(ngModel)]="priceFrom" type="number" class="form-control" aria-label="Mindestpreis" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="input-group input-group-sm mb-3"> 
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Höchstpreis</span>
                </div>
                <input [(ngModel)]="priceTo" class="form-control" aria-label="Höchstpreis" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>-->
    </div>

    <div class="app-filter-freesearch input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Suche</span>
        </div>
        <input [(ngModel)]="freeFilterString" class="app-filter-freesearch-input form-control" aria-label="Suche" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="app-filter-button-container">
        <button 
            type="button" 
            id="btn-filter-apply" 
            class="btn btn-primary"
            (click)="doFilter()">
            Produkte filtern
        </button>
        <button 
            type="button" 
            id="btn-filter-reset"
            class="btn btn-secondary" 
            (click)="resetFilter()">
            Reset Filter
        </button>
    </div>
</div> 